* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    margin: 0;
}

header {
}

.flexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
}
